[submodule "arc-agi-benchmarking"]
	path = arc-agi-benchmarking
	url = https://github.com/82deutschmark/arc-agi-benchmarking
[submodule "poetiq-solver"]
	path = poetiq-solver
	url = https://github.com/82deutschmark/poetiq-arc-agi-solver
[submodule "beetreeARC"]
	path = beetreeARC
	url = https://github.com/82deutschmark/beetreeARC
[submodule "SnakeBench"]
	path = external/SnakeBench
	url = https://github.com/VoynichLabs/SnakeBench
[submodule "external/re-arc"]
	path = external/re-arc
	url = https://github.com/conundrumer/re-arc
